.table-head {
  text-align: center;
  color: #1e293b;
  font-weight: bold;
}

.header_table {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 border-b pb-2 text-center text-slate-900 font-bold;
}

.header_body {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 border-b p-2 text-center text-slate-900 items-center;
}